<!-- create cabinet name -->
<!-- choose from list of existing strains to immediately add to cabinet -->
<!-- submit -->
<% if flash.has?(:message) %>
 <b><%= flash[:message] %></b>
<% end %>

<h1>Let's create a new Cannabis Cabinet!</h1>

<div class="">
  <form class="" action="/mycabinets" method="post">
    <label for="cabinet_name">Cabinet Name:</label>
      <input type="text" name="cabinet_name" id="cabinet_name">
      <br>
    <label>Here is a random selection of Strains you can add to your Cabinet if you so choose:</label>
    <% Strain.all.shuffle.take(5).each do |strain| %>
      <br>
      <input type="checkbox" name="strains[]" value="<%= strain.id %>"><%= strain.name %> <small><%= strain.category %></small></input>
    <% end %>
    <!-- iterate over strains and random list 5 -->
      <br>
    <input type="submit" value="Create Cabinet">
  </form>
</div>
