<!-- create cabinet name -->
<!-- choose from list of existing strains to immediately add to cabinet -->
<!-- submit -->

<h1>Let's create a new Cannabis Cabinet!</h1>

<div class="">
  <form class="" action="/mycabinets" method="post">
    <label for="cabinet_name">Cabinet Name:</label>
      <input type="text" name="cabinet_name" id="cabinet_name">
      <br>
    <label>Add some Strains to your Cabinet:</label>
    <% Strain.all.shuffle.take(5).each do |strain| %>
      <br>
      <input type="checkbox" name="strains[]" value="<%= strain.id %>"><%= strain.name %><br><%= strain.category %></input>
    <% end %>
    <!-- iterate over strains and random list 5 -->
      <br>
    <input type="submit" value="Create Cabinet">
  </form>
    <br>
  <h3>Create a new <a href="/strains/new">Strain</a>.</h3>
  <h3>Explore our <a href="/strains">Strain Library</a>.</h3>
</div>
