<h1><%= @cabinet.name %></h1>

  <br>

<h2>Your collected Strains:</h2>

  <br>

<% if !@cabinet.strains.empty? %>
  <% @cabinet.strains.each do |strain| %>
    <a href="/strains/<%= strain.slug %>"><h3><%= strain.name %></h3></a>
      <br>
  <% end %>
<% else %>
  <h3><%= @cabinet.name %> is empty. Please create or add strains <a href="#">here.</a>
<% end %>

<a href="/myaccount">Home</a>
