<a href="/myaccount">Home</a>
<h1>Welcome to the Strain Library</h1>
<p>
  <h2>Here you can browse different strains and add them to your cabinet.
    Click on any strain to learn more. Happy collecting</h2>
</p>

<div class="">
  <h2>Hybrid:</h2>
  <% @strains.each do |strain| %>
    <% if strain.category.downcase == "hybrid" %>
      <a href="/strains/:slug"><%= strain.name %></a>
    <% end %>
  <% end %>
</div>

<div class="">
  <h2>Indica:</h2>
  <% @strains.each do |strain| %>
    <% if strain.category.downcase == "indica" %>
      <a href="/strains/:slug"><%= strain.name %></a>
    <% end %>
  <% end %>
</div>

<div class="">
  <h2>Sativa:</h2>
  <% @strains.each do |strain| %>
    <% if strain.category.downcase == "sativa" %>
      <a href="/strains/:slug"><%= strain.name %></a>
    <% end %>
  <% end %>
</div>

<p><h2>If you don't find what you're looking for here, visit our
  <a href="/strains/new">Create a Strain</a> page and add it to our library</h2></p>
