<h1>Welcome to the Strain Library</h1>
<p>
  <h2>Here you can browse different strains and add them to your cabinet. Click on any strain to learn more. Happy collecting</h2>
</p>

<div class="">
  <h2>Hybrid:</h2>
</div>

<div class="">
  <h2>Indica:</h2>
</div>

<div class="">
  <h2>Sativa:</h2>
</div>
