<h1>Let's create a new Strain to add to Strain Library.</h1>

<div class="">
  <form class="" action="/strains" method="post">
    <label for="strain_name">Strain Name:</label>
      <input type="text" name="strain_name" id="strain_name">
      <br>
      <label for="category"></label>
  </form>
</div>
